body {
  background-color: #4B7399;
  font-family: Helvetica, Verdana, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* APPLICATION SCOPED - CUSTOM CSS */

#container {
	width: 90%;
	margin: 20px auto;
	background-color: transparent;
	padding: 20px 40px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
  color: red;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#content_wrapper {
	margin: 0 auto;
	width: 1024px;
	text-align: center;
}

.fields {
	padding-top: 80px;
}

.field {
	padding: 5px 0 5px 0;
}

.big_field {
	height: 40px !important;
	width: 400px;
	font-size: 40px !important;
	text-align: center;
}

.note {
	padding: 20px;
}

/* POST INDEX */

.post_list_large {
	width: 540px;
	position: relative;
	float: left;
}

.post_wrapper {
	width: 100%;
	min-height: 72px;
	background-color: whiteSmoke;
	padding: 5px;
	margin-top: 1px;
	height: auto;
	overflow: hidden;
}

.post_wrapper .image {
	width: 16%;
	position: relative;
	float: left;
}

.post_wrapper .name {
	position: relative;
	float: left;
	width: 50px;
}

.post_wrapper .message {
	position: relative;
	float: left;
	width: 80%;
	font-size: 12px;
	text-align: left;
	padding: 0 0 0 10px;
}

.post_wrapper .actions {
	position: relative;
	float: left;
	width: 100%;
	text-align: right;
}

.post_wrapper .actions a {
	padding: 5px;
	font-size: 12px;
}

/* LEFT COLUMN */

/* front page LEFT COLUMN */
#left_column {
	width: 230px;
	min-height: 500px;
	position: relative;
	float: left;
	border-right: 1px solid #EEE;
	margin-right: 5px;
}

#left_column .box {
	width: 215px;
	height: 200px;
	position: relative;
	float: left;
	overflow: hidden;
	text-align: left;
	padding: 5px 5px 20px 5px;
	margin: 5px;
	line-height: 15px;
	border-bottom: 1px solid #EEE;
}

#left_column .line {
	padding: 3px;
	height: 30px;
}

#left_column .time_ago {
	font-size: 10px;
	font-style: italic;
	color: gray;
	float: right;
	position: relative;
}

/* CLAIMED BILLS */
.claimed_bills {

}

.claimed_bills .serial {
	width: 100px;
	position: relative;
	float: left;
}

.claimed_bills .location {
	width: 100%;
	position: relative;
	float: right;
	color: gray;
	font-size: 10px;
	font-style: italic;
	text-align: left;
}

.claimed_bills .bill {

}

.claimed_bills .time_ago {

}

.claimed_bills .amount {
	width: 10px;
	position: relative;
	float: left;
	color: gray;
	font-size: 10px;
	font-style: bold;
}

/* CLUBS */
.recent_groups {

}

/** 
RIGHT COLUMN
*/

#right_column {
	width: 230px;
	min-height: 500px;
	position: relative;
	float: right;
	border-left: 1px solid #EEE;
	margin-left: 5px;
}

#right_column .box {
	width: 215px;
	height: 200px;
	position: relative;
	float: left;
	overflow: hidden;
	text-align: left;
	padding: 5px 5px 20px 5px;
	margin: 5px;
	line-height: 15px;
	border-bottom: 1px solid #EEE;
}

#new_post_text {
	width: 540px !important;
	padding: 3px;
	margin-bottom: 2px;
}

#new_post .actions {
	text-align: right;
	padding: 5px;
}