body {
  background-color: #fff;
  color: #333;
  font-family: helvetica, sans-serif, verdana, arial;
  font-size: 13px;
}

table, form {
	padding: 5px;
	width: 660px;
	background-color: white;
	box-shadow: #333 1px 1px 1px;
	border-radius: 1px;
	position: relative;
	font-family: helvetica;
	font-size: 17px;
}

p, ol, ul, td {
font-family: helvetica, sans-serif, verdana, arial;
font-size: 14px;
line-height: 22px;
padding-right: 37px;
padding-left: 6px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: orange; } 
	text-decoration: none;
}

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

#login, #password{
	height: 18px;
	width: 238px;
}

input[type="submit"] {
	background-color: black;
	border: 0;
	color: white;
	font-family: helvetica;
	font-size: 14px;
	padding: 6px;
}

#login-div, #password-div {
	position: relative;
	margin-right: 30px;
	margin-top: 8px;
	float: left;
}

#login-div, #password-div label {
color: #333;
font-family: helvetica;
font-size: 14px;
}

th {
	background-color: #ddd;
	padding: 4px;
}

#new_link {
	position: relative;
	float: left;
	padding: 3px;
}